{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <img src="{% static 'logo.png' %}">
    <script>
        window.MENU_API_URL = "{% url 'menu-api' %}";
    </script>
    {% block css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/nprogress/nprogress.css' %}">
    {% endblock %}
</head>
<body data-ng-app="{% block ng_app %}{% endblock %}">
{% block content %}
{% endblock %}
{% block js %}
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular/angular-cache.js' %}"></script>
    <script src="{% static 'vendor/angular/ng-table.min.js' %}"></script>
    <script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
{% endblock %}
{% block ng_templates %}
{% endblock %}
{% block extra_js %}
{% endblock %}
</body>
</html>
