<script type="text/ng-template" id="/menu/details">
    {% verbatim %}
    <div layout="column" layout-margin>
        <h1>Menu: {{ currentMenu.name }}</h1>
        <p>{{ currentMenu.description }}</p>
        <h5>last modified: {{ currentMenu.mtime }}</h5>
        <h5>created: {{ currentMenu.ctime }}</h5>
        <h3>Dishes:</h3>
        <table ng-table="dishesTableParams" ng-init="collectDishes(currentMenu)" cellpadding="5" class="table">
            <tr ng-repeat="dish in $data track by dish.id">
                <td title="'Name'" sortable="'name'">
                    {{ dish.name }}
                </td>
                <td title="'Price'" sortable="'price'">
                    {{ dish.price }}
                </td>
                <td title="'Preparing time'" sortable="'preparing_time'">
                    {{ dish.preparing_time }}
                </td>
                <td title="'Vegetarian'" sortable="'vegetarian'">
                    {{ dish.vegetarian }}
                </td>
                <td title="'Image'">
                    <img ng-src="{{ dish.image }}" height="100">
                </td>
            </tr>
        </table>
    </div>
    {% endverbatim %}
</script>
